// COLORS
$color-past: rgb(25,96,107);
$color-ongoing: rgb(182,119,35);
$color-proposed: rgb(225,87,90);
// mapbox values (equivalent in hue to above, but semi-transparent to reveal ovelrap etc)
// $color-past: rgba(0,80,92,.9);
// $color-ongoing: rgba(175,105,12,.9);
// $color-proposed: rgba(223,70,73,.9);
$light-gray: #f7f7f7;
$semi-trans-light-gray: transparentize($light-gray, .2);
$trans-light-gray: transparentize($light-gray, .4);
$middle-gray: #eee;
$trans-middle-gray: transparentize($middle-gray, .5);
$dark-gray: #ccc;
$property-color: #757575;

// BASE BIL COLORS

// $slate-gray: #7E8085;
$slate-gray: #74757B;
$med-gray: #6d6d6d;
//$med-gray: #74757B;
$coldblack: #282F36;
$green: #00505C;
$tealgreen: #6EC9D7;
$button-bronze: #B26F16;
$button-bronze-active: #9a6013;
$dkbronze: #A36514;
$white: #ffffff;
$black: #373737;
$links: #04143c;
$linkshover: #9a6013;

// BOX-SHADOW

$box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
$very-trans-black: rgba(0,0,0,.1);
$trans-black: rgba(0,0,0,.3);

$hint-background: rgb(244, 253, 255);
$hint-content: rgb(59, 123, 138);

// SIZES
// NOTE: FS = full-screen, SS = small-screen (to be used inside the mobile-breakpoint)
$FS-card-width: 300px;
$mobile-breakpoint: $FS-card-width * 2; 
$FS-dock-width: $FS-card-width * 3;
$FS-boundary-padding: 24px;
$SS-boundary-padding: 16px;
$FS-legend-width: 200px;
$FS-legend-height: 103px;
$SS-legend-height: 130px;
$scroll-hint-width: 224px;
$scroll-hint-height: 40px;
$selection-hint-width: 230px;
$selection-hint-height: 134px;
$max-point-hint-width: 425px;
$max-point-hint-height: 85px;
$card-peek-height: 100px;
$intro-panel-width: 450px;
$intro-panel-icon-offset: 8px;
$standard-border-radius: 4px;
$zoom-controls-top: 40vh;
$intro-next-prev-height: 60px;

* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  user-select: none;
  cursor: default;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, #root, .app, .map-container {
  height: 100%;
  width: 100%;
}

.trigger-icon {
  //stroke: black;
 // stroke-width: 3;
  //fill: none;
  &.remove-icon, &.expand-icon, &.collapse-icon, &.stemless {
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }
}

.app {
  /* necessary to prevent dock from overflowing page on mobile */
  position: absolute;
  overflow: scroll;
  // filter messes with positioning of app/children. behaves correctly without implicitly setting
  // filter: blur(0px);
  transition: filter 2s ease;

  &.loading {
    filter: blur(4px);
  }
}

/* LOADING MASK */
.mask {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: $trans-light-gray;
  opacity: 1;
  &.loaded {
    background-color: transparent;
    opacity: 0;
    transform: translate(100%, 100%);
    transition: background-color ease 2s, opacity ease 1s .5s, transform ease 0s 2s;
  }
  .content {
    margin: auto;
    font-size: 22px;
    text-transform: uppercase;
    color: $color-past;
    transform: translate(0, 16px);
    .loading-dots {
      display: flex;
      justify-content: space-evenly;
      padding: 4px 4px 0 0;
      div {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        animation: ball-pulse 1s ease infinite;
        &:nth-child(1) {
          animation-delay: -.2s;
          background-color: $color-past;
        }
        &:nth-child(2) {
          animation-delay: -.1s;
          background-color: $color-ongoing;
        }
        &:nth-child(3) {
          background-color: $color-proposed;
        }
      }
    }
  }
}

/* MAPBOX CONTROLS (need access to sass vars) */
.mapboxgl-ctrl-top-right {
  //top: calc(#{$SS-legend-height} + #{$FS-boundary-padding} + #{$intro-panel-icon-offset});
  top: $zoom-controls-top;
  right: $FS-boundary-padding;
}

.mapboxgl-ctrl-group.custom {
  position: fixed;
  right: $FS-boundary-padding;
  top: calc(#{$zoom-controls-top} + 65px); 
  z-index: 2;

  button.mapboxgl-ctrl-reset-view .mapboxgl-ctrl-icon {
    background-image: url(svg/mapboxgl-ctrl-reset-view.svg);
    background-size: 100%;  
  }
}

/* INTRO PANEL */
.intro-panel-wrapper {
  position: fixed;
  left: 0;
  z-index: 3;
  //top: $FS-boundary-padding;
  // bottom: calc(#{$FS-boundary-padding} + #{$card-peek-height});
  // won't stretch to bottom unless screen height is minimal (then scroll activates)
  top: $FS-boundary-padding;
  bottom: $FS-boundary-padding;
  max-height: 600px;
  min-height: 200px;
  width: $intro-panel-width;
  background: white;
  //border: solid $dark-gray 1px;
  overflow: visible;
  border-top-right-radius: $standard-border-radius;
  border-bottom-right-radius: $standard-border-radius;
  transition: left ease 1s;

  .intro-panel {
    height: 100%;
    overflow: scroll;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .trigger {
    position: absolute;
    right: -32px;
    top: 10px;
    padding: 8px 8px 8px 11px;
    border: solid #fff 1px;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    .trigger-icon {
     // stroke-width: 6;
      width: 12px;
      height: 12px;
    }
  }


  &.closed {
    left: -$intro-panel-width;
    .trigger {
      padding: 8px 11px 8px 8px;
    }
  }

  .content {
    padding: 40px;
    padding-bottom: $intro-next-prev-height;
    // height: 100%;
    .nav {
      text-align: center;
      .section-name {
        white-space: nowrap;
        cursor: pointer;
        color: #757575;
        &.active {
          color: #000;
        }
      }
      p.divider {
        display: none;
      }
      p {
        display: inline;
        font-size: 14px;
        padding-right: 14px;
        &.active {
          font-weight: 700;
        }
      }
    }
    .nav {
      border-bottom: 1px solid $dark-gray; 
      padding-bottom: 8px;
      margin-bottom: 20px; 
    }
    .header {
      display: flex;
      padding-bottom: 0px;
      margin-bottom: 20px; 
      .info {
        flex: 27px 0;
        flex-shrink: 0;
        align-self: center;
        margin-top: 4px;
        margin-right: 5px;
        .info-icon {
          stroke-width: 0;
          width: 100%;
        }
      }
      h1 {
        padding-left: 10px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
      }
    }

    .section-text {
      p {
        font-size: 14px;
        font-weight: 400;
        // padding: 4px 0;
        display: inline;
        color: $slate-gray;

        &.advance-button {
         // padding-left: 7px;
          font-weight: 700;
          white-space: nowrap;
          cursor: pointer;
        }
      }
    }

    .bottom-controls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $intro-next-prev-height;
      background: white;
      .next-prev {
        display: flex;
        justify-content: space-between;
        width: 37%;
        margin: auto;
        padding-top: 16px;
        font-size: 14px;
        p.advance-button {
          // padding: 0;
          font-weight: 700;
          &.active {
            cursor: pointer;
          }
          &:not(.active) {
            color: $dark-gray;
            .trigger-icon {
              stroke: $dark-gray;
              cursor: unset;
              line {
                cursor: unset;
              }
            }
          }
          .trigger-icon {
            width: 10px;
            stroke-width: 2;
          }
        }
      }
    }
  }
}


/* MAP */
.map-container {
  position: fixed;
  top: 0;
  bottom: 0;
}

/* LEGEND */
.legend {
  position: fixed;
  //top: $FS-boundary-padding;
  top: 32px;
  right: $FS-boundary-padding;
  //background: $semi-trans-light-gray;
  background: #fff;
  padding: 8px;
  border-radius: $standard-border-radius;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: $very-trans-black 3px 3px 5px;
}
.legend div {
  padding: 4px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.legend i {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 8px;
}
.legend i.past {
  background: $color-past;
}
.legend i.ongoing {
  background: $color-ongoing;
}
.legend i.proposed {
  background: $color-proposed;
}

.legend .trigger-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  stroke-width: 5;
}
.legend svg polyline {
  display: none;
}

.legend.hidden {
  background: transparent;
  box-shadow: none;
}
.legend.hidden .content {
  display: none;
}

/* TOOLTIP */
.tooltip {
  z-index: 10;
  background: white;
  /* overflows map with absolute */
  position: fixed;
  padding: 15px;
  max-width: 210px;
  box-shadow: $very-trans-black 3px 3px 5px;
  border-top: gray solid 8px;
  border-radius: $standard-border-radius;
}

.tooltip.past {
  border-top-color: $color-past;
}
.tooltip.ongoing {
  border-top-color: $color-ongoing;
}
.tooltip.proposed {
  border-top-color: $color-proposed;
}

.tooltip .detail {
  font-size: 14px;
  padding-top: 5px;
}

.tooltip .name {
  font-weight: 700;
  font-size: 15px;
}

.tooltip .click-hint {
  font-size: 12px;
  font-weight: 400;
  padding-top: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #757575;
}

.tooltip .location-title {
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #757575;
}

.tooltip .hovered-location.emphasized {
  font-weight: 700;
}

/* CARD DOCK */
.card-dock-mask { transition: background-color ease .8s; }
.card-dock-mask.active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $trans-black;
  z-index: 5;

  &.card-count-1 {
    min-width: $FS-card-width * 1;
  }
  &.card-count-2 {
    min-width: $FS-card-width * 2;
  }
  &.card-count-3 {
    min-width: $FS-card-width * 3;
  }
}

.card-dock-container {
 // background-color: $middle-gray;
  background-color: #fff;

  z-index: 5;
  position: absolute;
  /* dock background initially just off-screen, appears when user scrolls up */
  top: 100vh;
  min-width: 100%; // fixes pesky variable container width bug below
  box-shadow: $very-trans-black 0px 0px 10px 3px;

  .scroll-up-button {
    position: fixed;
    right: $FS-boundary-padding;
    bottom: -50px;
    transition: bottom ease .4s;
    &.active {
      bottom: $FS-boundary-padding;
    }
    .trigger-icon {
      width: 32px;
      stroke: $hint-content;
      stroke-width: 10;
    } 
  }

  .user-hint {
    text-transform: uppercase;
    background: $hint-background;
    color: $hint-content;
    font-size: 16px; //FS
    font-size: 14px;
    .trigger-icon {
      stroke: $hint-content;
     // stroke-width: 8; //FS
     width: 12px; //FS
    }

    &.scroll-hint {
      text-align: center;
      position: absolute;
      /* center hint above the first card */
      left: calc((#{$FS-card-width} - #{$scroll-hint-width}) / 2);
      width: $scroll-hint-width;
      top: -$scroll-hint-height;
      height: $scroll-hint-height;
      animation: slide-up 1.2s forwards;
      &.dismissed {
        top: 100vh;
        transition: top ease 3s;
      }
      .content {
        padding: 10px;
        font-weight: 600;
      }
    }

    &.selection-hint {
      position: absolute;
      top: $card-peek-height;
      width: $selection-hint-width;
      height: $selection-hint-height;
      left: 0;
      &:not(.scroll-initiated) {
        visibility: hidden;
      }
      &.scroll-initiated {
        transition: left ease 1s;
        left: $FS-card-width;
      }
      &.dismissed {
        transition: left ease 1s;
        left: 0;
      }
      .content {
        padding: 20px;
        font-weight: 600;
        p {
          font-weight: 600;
        }
        svg {
          position: relative;
         // top: 44%;
         // right: 20px;
          margin-left: 8px;
          position: relative;
          top: 2px;
        }
        .maximum {
          display: inline-block;
        }
      }
    }
    &.max-point-hint {
      position: absolute;
      width: $max-point-hint-width;
      height: $max-point-hint-height;
      left: calc((#{$FS-dock-width} - #{$max-point-hint-width}) / 2);
      &:not(.triggered) {
        display: none;
      }
      &.triggered {
        transition: top ease .8s;
        top: -$max-point-hint-height;

        &.dismissed {
          top: 0;
          transform: scale(0);
          transition: top ease .8s, transform 0s .8s;
        }
      }
      .content {
        text-align: center;
        padding: 20px;
      }
      .trigger-icon {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  // REMOVED BECAUSE SHOULD ONLY APPLY TO CARD-COUNT-3, add class to card-container if needed
  // solved instead by giving card-container 100% min-width rather than width
  // @media screen and (max-width: $FS-dock-width) {
  //   // goes with below media query, prevents container from leaving empty space to right on scroll
  //   // width: unset;
  // }

  .card-dock {
    height: 100%;

    // dock always takes up 3-card width (when screen ample size)
    width: $FS-dock-width;
    // card-table takes up the actual width of the cards
    &.card-count-1 .card-table {
      width: $FS-card-width * 1;
    }
    &.card-count-2 .card-table {
      width: $FS-card-width * 2;
    }
    &.card-count-3 .card-table {
      width: $FS-card-width * 3;
    }

    // the card-dock is centered (unmoved by card-count)
    margin-left: calc((100vw - #{$FS-dock-width}) / 2);
    @media screen and (max-width: $FS-dock-width) {
      // but don't allow it to overflow left side of screen
      margin-left: 0;
      // nor the empty portion of the dock to overflow the right
      width: 100%;
    }

    .card-table {
      position: relative;
      /* top of card should stick up above window bottom */
      top: -$card-peek-height; //FS
      // tough to mesh with card animation onto screen
      // box-shadow: rgba(0, 0, 0, 0.1) -2px -4px 10px 2px;
      box-shadow: $box-shadow;
      // box-shadow: $very-trans-black -2px -4px 10px 2px;

      .row {
        height: 100%; //?
        display: flex;
        // just so it appears above dismissed user-hints
        position: relative;
      }

      .card {
        max-width: $FS-card-width; //FS
        flex: 1 0 0;
        // height: 100%;
        display: inline-block;
        // vertical-align: top;

        animation: slide-up .8s forwards;
      }

      .cell {
        // don't add different side padding for different cell types
        // or cells won't align vertically
        padding: 16px; //FS
        // display: inline-block;
        // box-sizing: border-box;
        height: 100%; //?
        position: relative;
        .property-name .trigger-icon {
          position: absolute;
          width: 14px;
          right: 0;
          top: 4px;
          box-sizing: content-box;
          padding: 5px;
        }
        .property-name {
          color: $property-color;
        }
        .property-name,
        .location-title {
          font-weight: 300;
          font-size: 12px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .location-title {
          padding-top: 3px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .location-cell-content:not(:last-child) {
          padding-bottom: 5px;
        }

        &.feature-header {
          .property-name {
            color: $property-color;
            font-weight: 700;
            text-align: center;
          }
          .value {
            padding: 0;
          }
        }

        .value {
          // overflow: hidden;
          padding-top: 8px;
          font-size: 14px; //FS

          a {
            display: block;
            cursor: pointer;
            padding-bottom: 8px;
            color: $links;
            &:hover {
              color: $linkshover;
            }
          }
        }
        // FIELDS NO LONGER EXPANDIBLE
        // &.expandible {
        //   max-height: 3000px;
        //   transition: max-height ease-in .2s;
        //   overflow: hidden;

        //   &:not(.expanded) {
        //     transition: max-height ease-out .2s;
        //     // important because it has to override the inline style set by JS
        //     max-height: 75px !important;

        //     &:before {
        //       height: 20px;
        //     }
        //   }
        //   // gradient text to fade unexpanded cells
        //   &:before {
        //     content: '';
        //     width: 100%;
        //     height: 0px;
        //     transition: height ease-in-out .3s;
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     // appropriate color given with alternating row colors
        //   }
        // }

      }

      // HEADER (NAME) STYLES
      .row.header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: $card-peek-height;

        .card {
          border-top-width: 8px;
          border-top-style: solid;
          &.past {
            border-top-color: $color-past;
          }
          &.ongoing {
            border-top-color: $color-ongoing;
          }
          &.proposed {
            border-top-color: $color-proposed;
          }
          &:first-child {
            border-top-left-radius: 3px;
          }
          &:last-child {
            border-top-right-radius: 3px;
          }
          &:not(first-child) {
            // to compensate for border-left added to other cells
            // width: $FS-card-width + 1px;
          }

          .cell {
            padding-top: 20px; //FS
            // height: 100px;
            font-size: 15px; //FS
            line-height: 21px; //FS
            letter-spacing: 0.03em;
            word-wrap: break-word;
            /* so trigger has a positioned element to hang onto */
            position: relative;
            font-weight: 700;

            .remove-icon {
              position: absolute;
              width: 22px; //FS
              top: 0; //FS
              right: 0; //FS
              padding: 6px;
              box-sizing: content-box;
              stroke: #757575;
              

            }
          }
        }
      }


    }

    /* alternating row colors */
    .row:nth-child(odd) .card {
      background-color: #f8f8f8;
      background-color: #f9f9f9;
      // .cell.expandible:not(.expanded):before {
      //   // appropriate color for text fade
      //   background: linear-gradient(transparent, $light-gray 15px);
      // }
    }
    .row:nth-child(even) .card {
      background-color: white;
      // .cell.expandible:not(.expanded):before {
      //   // appropriate color for text fade
      //   background: linear-gradient(transparent, white 15px);
      // }
    }
    .row .card .cell {
    //  border: solid $trans-middle-gray .5px;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  /* INTRO PANEL */
  .intro-panel-wrapper {
    top: calc(#{$SS-legend-height} + #{$SS-boundary-padding});
    bottom: $SS-boundary-padding;
    right: 0;
    width: 100%;
    max-height: unset;

    &:not(.closed) .trigger {
      right: 10px;
      border: none;
      padding-right: 0;
    }
    &.closed {
      left: -100%;
    }
  }

  /* LEGEND */
  .legend {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: $SS-legend-height;
    padding: 0;
    background: white;
  }
  .legend .content {
    padding: 16px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
  .legend i {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-right: 14px;
  }
  .legend .trigger-icon {
    width: 25px;
    right: 10px;
    top: 10px;
  }

  /* DOCK */
  .card-dock-container {
    width: unset;
    min-width: 100vw;

    .user-hint{
      &.scroll-hint {
        left: calc(50vw - (#{$scroll-hint-width} / 2));
        .content {
          font-weight: 600;
        }
      }
      &.selection-hint {
        top: -$selection-hint-height;
        &.scroll-initiated {
          .content {
            font-weight: 600;
            p {
              font-weight: 600;
            }
          }
          animation: slide-up 1.2s forwards;
          left: calc(50vw - (#{$selection-hint-width}) / 2);
          &.dismissed {
            top: 0;
            transform: scale(0);
            transition: top ease .8s, transform ease 0s .8s;
          }
        }
      }
    }

    .card-dock {
      width: 100%;

      &.card-count-1 .card-table .card {
        // width: 100%;
        max-width: unset;
      }
      &.card-count-1 .card-table,
      &.card-count-2 .card-table,
      &.card-count-3 .card-table {
        width: 100%;
        .card {
          width: $FS-card-width;
        }
      }
    }
  }
}

@keyframes ball-pulse {
  0%, 100%, 60% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
      opacity: .1;
      -webkit-transform: scale(.01);
      transform: scale(.01);
  }
}
@keyframes slide-right {
  from {
    transform: translate(-$FS-card-width);
    z-index: 1;
  }
  to {
    transform: translate(0);
    z-index: 20;
  }
}
@keyframes slide-left {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(0);
  }
}
@keyframes slide-up {
  from {
    transform: translate(0, 100vh);
  }
  to {
    transform: translate(0);
  }
}
@keyframes pop-up {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -$selection-hint-height);
  }
}
